registry=https://registry.npmjs.org/
@persian-caesar:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${{ secrets.GH_PACKAGES_TOKEN }}
//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}